*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #000; */
}

html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}


/* header section */
.nav-section{
    display: flex;
    padding: 20px 4rem 20px 4rem;
    justify-content: space-between;
    color: #E5E5E5;
    background-color: #000;
}

i{
    color: #fff;
    font-size: 20px;
}

#netflix-header-logo{
    width: 100px;
    height: 34px;
}

#profile-picture{
    width: 20px;
    height: 20px;
}

.nav-options-1{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding: 0 0 0 2rem;
    margin: -11px 0 0 0;
}

.nav-options-1 p{
    padding: 0 15px 0 0;
}

.nav-options-1 p:hover{
    transform: scaleX(1.1);
    transition: 0.5s;
}

.nav-section-1{
    display: flex;
    justify-content: space-between;
}

.nav-section-2{
    width: 230px;
    display: flex;
    justify-content: space-between;
}

.nav-section-2 p:hover, .nav-section-2 i:hover, .nav-section-2 img:hover{
    transform: scaleX(1.1);
    transition: 0.5s;
}

#header-text{
    font-size: 12px;
    margin: 1.6px 0 0 0;
}


/* Hero-section */
.hero-section{
    padding: 0 4rem 0 4rem;
    background-image: url(/IMAGES/MoviePoster\ \(20\).png);
    background-size: cover;
    background-repeat: no-repeat; 
    object-fit: cover;
    color: #ffffff;
    /* margin: -5rem 0 0 0; */
}

#hero-header-text{
    font-size: 5rem;
    font-weight: 1000;
    padding: 6rem 0 0 0;
    text-align: left;
    letter-spacing: -3px;
}

#hero-text-1{
    font-size: 3.6rem;
    padding: 0 0 0 0;
    text-align: center;
    width: 350px;
    margin: -6.3rem 0 0 0;
}

.a{
    display: flex;
}

.b{
    width: 50%;
}

.red-box{
    color: #fff;
    background-color: red;
    font-size: 10px;
    width: 17px;
    height: 30px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.red-box  #top{
    font-size: 8px;
    padding: -5px 0 0 0;
}

.red-box #num{
    font-size: 14px;
    font-weight: 700;
    margin: -12px 0 0 0;
}

.red{
    display: flex;
    gap: 10px;
}

#hero-text-2{
    margin: 2px 0 0 0;
    font-size: 26px;
    font-weight: 300;
}

#hero-text-3{
    font-size: 20px;
    width: 460px;
    text-align: left;
}

.hero-buttons{
    display: flex;
    gap: 1rem;
}

.button-1{
    display: flex;
    background-color: #fff;
    color: #000;
    padding: 0px 30px;
}

.button-1:hover{
    color:rgb(63, 60, 60) ;
    transition: 0.5s;
}

footer p:hover{
    color: rgb(229, 9, 20);
    transition: 0.5s;
}

footer i:hover{
    color: rgb(229, 9, 20);
    transition: 0.5s;
}

.button-1 i{
    color: #000;
    font-size: 30px;
    margin: 10px 0 0 0;
}

.button-1 i:hover{
    color:rgb(63, 60, 60) ;
    transition: 0.5s;
}

img:hover{
    transform: scaleY(1.1);
    transition: 0.5s;
}

.button-2{
    display: flex;
    gap: 10px;
    background-color:rgba(255, 255, 255, 0.3) ;
    color: #fff;
    padding: 0px 25px;
}

.button-2:hover{
    color:rgb(63, 60, 60) ;
    transition: 0.5s;
}

.button-2 i{
    font-size: 25px;
    margin: 12px 0 0 0;
}

.button-2 i:hover{
    color:rgb(63, 60, 60) ;
}

#hero-text-4{
    font-weight: 700;
    line-height: -60px;
}

#hero-text-5{
    font-weight: 700;
}

#hero-text-6{
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    color: #fff;
}

.hero-section-2-images{
    display: grid;
     gap: 3px;
     grid-auto-flow: column;
     overflow-x: auto;
     overflow-y: hidden;
}

.hero-section-2-images img{
    width: 250px;
}

.image-3 img {
    width: 200px;
    height: 200px;
}

.image-4 img{
    width: 208px;
}

main{
    padding: 2rem 0 0 0;
}

main, footer{
    background-color: #000;
    padding: 2rem 4rem 0 4rem;
}

#number{
    width: 50px;
}

.number-images{
    display: flex;
    gap: 13px;
}

#num-img{
    width: 195px;
    height: 130px;
}

.images-6{
    display: flex;
    gap: 7px;
}

.part-4{
    display: flex;
    gap: 10px;
}

.part-4 img{
    width: 210px;
    height: 200px;
}

/* footer */
footer{
    background-color: #000;
    padding: 2rem 0;
    color: #808080;
}

.footer-part2{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.footer-part{
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

.footer-div{
    border: 1px solid #B3B3B3;
    text-align: center;
    width: 100px;
}

#globe{
    font-size: 13px;
}

#eng{
    margin: 1px 0 0 0;
}

#footer-text{
    font-size: 12px;
}

/* HAMBURGER */
.nav-toggle{
    background-color: #000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* MEDIAQUERY */
@media screen and (max-width: 978px) {
    .hero-section{
        padding: 0 2rem;
    }
    main, footer{
        padding: 2rem ;
    }
    .nav-section{
        padding: 20px 2rem;
    }
}
@media screen and (max-width: 768px) {
    .hero-section-2-images{
        gap: 10px;
    }
    /* hamburger */
    .ham{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    .nav-toggle {
        font-size: 1.5rem;
        color: var(--clr-primary-5);
        background: transparent;
        border-color: transparent;
        transition: var(--transition);
        cursor: pointer;
      }
      .nav-toggle:hover {
        color: var(--clr-primary-1);
        transform: rotate(90deg);
      }
      .show-links {
        height: 10rem;
      }
}


