*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue,Roboto,Ubuntu,sans-serif;
}

html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

/* transition: 0.6s; */

.container{
    background-image: url(/IMAGES/the.jpg);
    color: #fff;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    width: 7rem;
    margin: 2rem 0 0 3rem;
}

h2{
    text-align: left;
    color: #fff;
}

form{
    max-width: 300px;
    display: block;
    margin: 3rem auto;
    padding: 2rem 3em 5rem 3rem;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0.86;
}

#dot{
    font-size: 10px;
}

input[type=email]{
    width: 100%;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

input[type=password]{
   width: 100%;
   padding: 7px 10px;
   margin: 10px 0 24px 0;
   border-radius: 5px;
   background-color: #333;
   color: #fff;
}

#submit-btn{
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    background-color: #Eb0914;
    color: #fff;
    border-radius: 5px;
    text-align: center;
} 
#submit-btn:hover{
    background-color: rgb(179, 62, 68);
    transition: 0.5s;
}

#help:hover{
    color: #Eb0914;
    transition: 0.5s;
}

#login:hover{
    color: #Eb0914;
    transition: 0.5s;
}

#dark:hover{
    color: #Eb0914;
    transition: 0.5s;
}

#blue:hover{
    color: #Eb0914;
    transition: 0.5s;
}

footer p:hover{
    color: rgb(229, 9, 20);
    transition: 0.5s;
}

#submit-btn::placeholder{
    text-align: center;
}

::placeholder{
    text-align: left;
}

.div-1{
    display: flex;
    justify-content: space-between;
    color:  #B3B3B3;
    font-size: 12px;
}

.div-2{
    display: flex;
    gap: 5px;
    color:  #B3B3B3;
    font-size: 12px;
    margin: 20px 0 0 0;
}

.div-3{
    color:  #B3B3B3;
    font-size: 12px;
}

.ri-facebook-box-fill{
    color: #3B579D;
    font-size: 16px;
}

#login{
    margin: 1px 0 0 0;
    font-size: 10px;
}

#dark{
    font-weight: 800;
    color: #fff;
}

#blue{
    color: #3B579D;
    font-weight: 800;
    font-size: 12px;
}

#dot{
    color:  #B3B3B3;
}

footer{
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0.86;
    padding: 2rem 0;
    color:  #B3B3B3;
}

.footer-part2{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.footer-part{
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

.footer-div{
    border: 1px solid #B3B3B3;
    display: flex;
    gap: 7px;
    padding: 5px ;
}

#globe{
    font-size: 13px;
}

#eng{
    margin: 1px 0 0 0;
}

#footer-text{
    font-size: 12px;
}

/* MEDIA QUERY */
@media screen and (max-width: 740px) {
    .container{
        background-image: none;
        background-color: black;
    }
    form{
        max-width: none;
    }
    input[type=email], input[type=password], #submit-btn{
        height: 50px;
    }

    hr{
        display: block;
        border: 0.5px solid white;
        width: 95%;
    }
}
@media screen and (max-width: 576px){
    form{
        padding-left: 17px;
        padding-right: 17px;
    }
    .footer-part2{
        display: grid;
        grid-template-columns: repeat(2, 150px);
        padding: 20px;
    }
    
}