*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue,Roboto,Ubuntu,sans-serif;
    background-color: black;
}

html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

/* **************************************************Profile page styling***************************************** */
header #profile-logo{
    width: 180px;
    margin: 20px 0 0 40px;
}

.box1 img:hover{
    transform: scaleX(1.1);
    transition: 0.5s;
}

.box1 p:hover{
    color: red;
}

.box1 img{
    width: 110px;
}

#add-icon{
    width: 80px;
    margin: 15px 0 0 0;
}

#add-icon-text{
    margin: 30px 0 0 0;
}

#welcome-text{
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 2.6rem;
    margin: 6rem 0 3rem 0;
}

.container{
    display: grid;
    place-items: center;
}

.box-container{
    width: 800px;
    display: flex;
    justify-content: space-between;
    color: rgba(109, 109, 110, 0.7);
    color: #6D6D6EB2;
    text-align: center;
    font-weight: 300;
}

#enter-text{
    text-align: center;
    color: #808080;
    font-weight: 300;
    border: 1px solid;
    width: 250px;
    margin: 26px auto 0 auto;
    padding: 5px 0;
}

#enter-text:hover{
    border: 1px red solid;
    transition: 0.5s;
}

/* MEDIA QUERY SECTION*/

@media screen and (max-width:850px){
   .box-container{
        display: grid;
        grid-template: repeat(3, 200px)/ repeat(2, 200px);
        width: auto;
   }

}
@media screen and (max-width:375px){
    header{
        text-align: center;
    }
    header #profile-logo{
        margin-left: 0;
    }
    .box-container{
        grid-template: repeat(3, 200px)/ repeat(2, 150px);
    }
}
